#wrap{
	width: 900px;
	margin: 0 auto;
}
.tiles{
	list-style: none;
}
.tiles a{
	text-decoration: none;
	color: #fff;
	width: 200px;
	height: 75px;
	float:left;
	
	background-color: #555;
	margin: 5px;
	text-align: center;
	line-height: 80px;
	font-size: 20px;
	border-radius: 5px;
}
